<li id="newsLi">
	<a id="oldNewsTag"[{if $oxcmp_user->getCountUnreadMessages($oViewConf->getActLanguageId()) != 0}] style="display:none !important;"[{/if}] href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=bnsales_oldnews"}]">[{oxmultilang ident="BTN_NEWS"}]</a>
	<a [{if $oxcmp_user->getCountUnreadMessages($oViewConf->getActLanguageId()) == 0}] style="display:none !important"[{/if}] style="cursor:pointer" class="bntooltip" id="showNews" onclick="showModal([{$oViewConf->getActLanguageId()}]);" data-toggle="tooltip" role="button" rel="nofollow">
		[{oxmultilang ident="BTN_NEWS"}]<span id="badgeAnzahl" class="badge badge-pill badge-secondary">[{$oxcmp_user->getCountUnreadMessages($oViewConf->getActLanguageId())}]</span></a>
	[{*<a  [{if $oxcmp_user->getCountUnreadMessages($oViewConf->getActLanguageId()) == 0}]
							href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=bnsales_oldnews&fnc=show"}]">[{oxmultilang ident="BTN_NEWS"}]
					    [{else}]
					   		style="cursor:pointer" class="bntooltip" id="showNews" onclick="showModal([{$oViewConf->getActLanguageId()}]);" data-toggle="tooltip" role="button" rel="nofollow">
							[{oxmultilang ident="BTN_NEWS"}]<span id="badgeAnzahl" class="badge badge-pill badge-secondary">[{$oxcmp_user->getCountUnreadMessages($oViewConf->getActLanguageId())}]</span>
					    [{/if}]
					</a>*}]
</li>