span.bn-flag-de{
    width: 30px; /*@bniconwidth;*/
    height: 30px; /*@bniconheigth;*/
    display: inline-block;
    background-repeat: repeat;
    background-size: contain;
    background-image: url("../img/lang/de.svg");
    margin-top:6px;
}

span.bn-flag-en {
    width: 30px; /*@bniconwidth;*/
    height: 30px; /*@bniconheigth;*/
    display: inline-block;
    background-repeat: repeat;
    background-size: contain;
    background-image: url("../img/lang/en.svg");
    margin-top: 6px;
}

span.bn-flag-fr {
    width: 30px; /*@bniconwidth;*/
    height: 30px; /*@bniconheigth;*/
    display: inline-block;
    background-repeat: repeat;
    background-size: contain;
    background-image: url("../img/lang/fr.svg");
    margin-top: 6px;
}